@font-face { 
    font-family: Garamond;
    src: url("islt_7310/EB_Garamond/static/EBGaramond-Medium.ttf");
     }

@font-face { 
    font-family: Serif;
    src: url("islt_7310/DM_Serif_Text/DMSerifText-Regular.ttf");
     }

h1 {
    color: #F0488B;
    text-align: center;
    font-family: Garamond
}

h2 {
    color: #F0488B;
    text-align: center
}


p:first-of-type::first-letter {
    font-weight: bold;
    font-size: 18;
    line-height: 1;
}
p:not(:first-of-type) {
    text-indent: 2em;
}

body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center
}

main {
    background color: white;
    color: black;
    text-align: center; 
    border: 1px solid ##CB105B
}

footer {
    background-image: url('https://hayleyrussell.github.io/islt_7310/images/IMG_6701.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 20px;
    flex: 0 1 auto;
    background-position: center;
    text-align: center;
}

footer .icon {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-right: 8px;
    transition: transform 0.2s;
}

footer .icon:hover {
    transform: scale(2.0);
}

.left-photo {
    float: left;
    margin-right: 15px; 
    width: 200px; 
    height: auto;
}

main.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: serif;
    gap: 1em;
    padding: 1em;
    flex: 1 1 auto;
    grid-template-areas: 
    "left right"
    "center center";
}

main.grid-container .left-column, 
main.grid-container .right-column,
main.grid-container .center-column {
    background: #FFE5E5;
    padding: 1em;
    border: 1px solid #CB105B;
    text-align: center;
}

main.grid-container .left-column {
    grid-area: left;
}

main.grid-container .right-column {
    grid-area: right;
}

main.grid-container .center-column {
    grid-area: center;
}

main.grid-container .left-column, 
main.grid-container .right-column {
    background: #FFE5E5;
    padding: 1em;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        flex: none;
    }

    main.grid-container {
        grid-template-columns: 1fr;
    }
}

@media print {
    body {
        color: black;
        font-family: serif;
        margin: 1in;
    }

    h1 {
        font-family: 'Garamond';
        font-size: 16px;
    }

    p {
        font-size: 11px;
    }

    ul, ol {
        font-size: 11px;
    }

    blockquote {
        font-size: 12px;
        font-style: italic;
        margin: 10px 0;
    }

    footer {
        display: none;
    }
    nav, .navbar, .nav-menu, .nav-toggle-label, img {
        display: none;
    }

    .center-column, .education-details, .quote, footer {
        page-break-inside: avoid;
    }
}